* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: monospace;
    color: white;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5%;
}

.container {
    border: 1px dashed gray;
    padding: 5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 65%;
}

input[type="text"], input[type="number"] {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    height: 30px;
    margin-bottom: 3%;
    outline: none;
}

::placeholder {
    color: white;
    opacity: 50%;
}

button {
    padding: 0.25rem 0.6rem;
    margin: 3% 0 3% 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    opacity: 90%;
}

/* I got this from css-loaders.com  */
#loader {
    display: none;
    height: 2px;
    width: 130px;
    --c:no-repeat linear-gradient(white 0 0);
    background: var(--c),var(--c),#111111;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}
/* check https://css-loaders.com/progress */

#res-field {
    display: none;
    margin: 3% 0 3% 0;
    width: 100%;
}

#res-text {
    color: white;
}

#graph-btn {
    display: none;
}

#calculator {
    display: none;
    width: 500px;
    height: 500px;
}

aside {
    display: grid;
    grid-row-gap: 5%;
    width: 30%;
    top: 0;
    position: sticky;
}

section {
    width: 100%;
}


section p {
    width: 100%;
    margin-bottom: 1rem;
}

li {
    list-style-position: inside;
    margin-bottom: 0.5rem;
}

a {
    color: white;
}

img {
    width: 34px;
    height: 34px;
    filter: invert(100%);
    opacity: 60%;
}

img:hover {
    opacity: 100%;
}

@media screen and (max-width: 480px) {
    main, aside {
        width: 100%;
    }

    aside {
        margin-top: 5%;
    }
    
    #calculator {
        width: 285px;
        height: 285px;
    }
}

