{% extends "base.html" %}

{% block title %}
    <title>continuity-test</title>
{% endblock %}

{% block content %}
    <div class="main-container">
        <input type="text" id="func" name="func" placeholder="enter your function (LaTeX)" onFocus="clearRes()">
        <input type="number" id="numb" name="numb" placeholder="enter a number" onFocus="clearRes()">
        
        <button type="button" id="check" onClick="check()">check</button>
        <div id="res">
            <p id="res-text"></p>
            <button type="button" id="graph" onClick="draw()">graph</button>
            <div id="calculator"></div>
        </div>
        
        <button type="button" id="clear" onClick="clearAll()">clear</button>
    </div>
    
    <script src={{ url_for('static', filename='script.js')}}></script>
{% endblock %}

